---
layout: default
---
<div class="wrapper wide-wrapper">
  <h1 class="page-heading">David Matheson is a Front End Developer in New York City</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.categories != empty %},{% endif %} {{ post.categories }}</span>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      </li>
    {% endfor %}
  </ul>
   {% include footer.html %}
</div>
