a {
  text-decoration: none;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 80px;
  -webkit-text-size-adjust: 100%;
}
