<footer class="site-footer">
   <ul>
      <li class="social-media-list-item"><a href="mailto:{{ site.email }}">Email</a></li>
      <li class="social-media-list-item"><a target="_blank" href="https://github.com/{{ site.github_username }}"><span class="username">Github</span></a></li>
      <li class="social-media-list-item"><a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><span class="username">Twitter</span></a></li>
      <li class="social-media-list-item"><a target="_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}"><span class="username">Linkedin</span></a></li>
      <li class="social-media-list-item"><a target="_blank" href="https://docs.google.com/document/d/1ZbY-B0n1kFDBxJAtUv96Te7QYJPZCrYJ8MJjnz5jZzs/edit?usp=sharing"><span class="username">CV</span></a></li>
      <li class="social-media-list-item"><a target="_blank" href="https://peace.com"><span class="username">✌️</span></a></li>
   </ul>
</footer>
