<footer class="site-footer">
   <ul class="social-media-list">
      <li class="social-media-list-item"><a href="mailto:{{ site.email }}">Email</a></li>
      <li class="social-media-list-item"><a href="https://github.com/{{ site.github_username }}"><span class="username">Github</span></a></li>
      <li class="social-media-list-item"><a href="https://twitter.com/{{ site.twitter_username }}"><span class="username">Twitter</span></a></li>
      <li class="social-media-list-item"><a href="https://linkedin.com/in/{{ site.linkedin_username }}"><span class="username">Linkedin</span></a></li>
      <li class="social-media-list-item"><a href="https://linkedin.com/in/{{ site.linkedin_username }}"><span class="username">✌️</span></a></li>
   </ul>
</footer>
