<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
            <li><a href="mailto:{{ site.email }}">Email</a></li>
            <li><a href="https://github.com/{{ site.github_username }}"><span class="username">Github</span></a></li>
            <li><a href="https://twitter.com/{{ site.twitter_username }}"><span class="username">Twitter</span></a></li>
            <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}"><span class="username">Linkedin</span></a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
