//
// Shame
//
// This file is a temporary placeholder for any Sass/CSS syntax that would
// otherwise be marked with a TODO in a clean codebase. All the syntax in this
// file should eventually be placed in the correct partial. Read more at
//
//    http://csswizardry.com/2013/04/shame-css/

body {
   // background: url(../images/me.png);
   background-repeat: no-repeat;
   background-size: 300px;
    background-position: center;
   background-color: #fff;
   color: #002fa7;
   // font-family: 'Roboto', sans-serif;
   font-family: 'Marcellus', serif; //I like this
   a,
   .site-title {
      color: #002fa7;
      text-decoration: none;

      &:hover,
      &:active,
      &:visited {
         color: #002fa7;
      }
   }
}

.social-media-list {
   text-align: center;
}

.social-media-list-item {
   display: inline-block;
   margin-right: 20px;
   font-weight: 100;
}

.page-heading {
   margin-top: 50px;
   margin-bottom: 80px;
   font: {
      size: 48px;
      weight: 100;
   }
   @media screen and (max-width: 445px) {
      font-size: 32px;
   }
}

.post-content {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 16px;
}

.circle-icon {
   width: 40px;
   height: 40px;
   margin-top: 20px;
   border-radius: 50%;
   background-color: #002fa7;
}

h4 {
   font-size: 24px;
   font-weight: 400;
}
