//
// Shame
//
// This file is a temporary placeholder for any Sass/CSS syntax that would
// otherwise be marked with a TODO in a clean codebase. All the syntax in this
// file should eventually be placed in the correct partial. Read more at
//
//    http://csswizardry.com/2013/04/shame-css/

body {
   background-color: #fff;
   color: #002fa7;
   font-family: 'Roboto', sans-serif;
   a,
   .site-title {
      color: #002fa7;
      &:hover,
      &:active,
      &:visited {
         color: #002fa7;
      }
   }
}


footer {
   li {
      display: inline-block;
      margin-right: 20px;
   }
}


.page-heading {
   margin-top: 50px;
   margin-bottom: 80px;
   font: {
      size: 48px;
      weight: 100;
   }
}
