body {
 font: 400 16px/1.5 $font-stack--sans-serif;
 color: $blue-primary;
 background-color: $white-core;
 -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
   margin-bottom: $spacing-unit / 2;
}

a,
.site-title {
   color: $blue-primary;
   text-decoration: none;
   &:hover,
   &:active,
   &:visited {
      color: $blue-primary;
   }
}

p {
   font-family: $font-stack--sans-serif;
   line-height: 28px;
}

.wrapper {
   max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
   max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
   margin-right: auto;
   margin-left: auto;
   padding-right: $spacing-unit;
   padding-left: $spacing-unit;

   @include media-query($on-laptop) {
     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
     max-width:         calc(#{$content-width} - (#{$spacing-unit}));
     padding-right: $spacing-unit / 2;
     padding-left: $spacing-unit / 2;
   }
}

.wide-wrapper {
   max-width: 1400px;
}

%clearfix {
   &:after {
     content: "";
     display: table;
     clear: both;
   }
}
