@mixin transition($property: all, $duration: 1s,
   $timing_function: ease-out, $delay: 0s) {
  -webkit-transition: $property $duration $timing_function $delay;
     -moz-transition: $property $duration $timing_function $delay;
       -o-transition: $property $duration $timing_function $delay;
          transition: $property $duration $timing_function $delay;
}

@mixin image-2x($image) {
  @media (-webkit-min-device-pixel-ratio: 1.3),
            (min--moz-device-pixel-ratio: 1.3),
              (-o-min-device-pixel-ratio: 2.6/2),
                 (min-device-pixel-ratio: 1.3),
                         (min-resolution: 1.3dppx) {
    background-image: url($image);
  }
}

// ============================================================================
// RESPONSIVE
//
// This mixin works in tandem with variables defines in the file
// `_global-variables.scss`, and accepts the following values for the
// $screen-width parameter:
//
//    16u, which maps to $width-16u (1300px)
//    12u, which maps to $width-12u (980px)
//    8u, which maps to $width-8u   (660px)
//    4u, which maps to $width-4u   (340px)
//
// ============================================================================
@mixin max-width-responsive-media-query($screen-width) {
  @if $screen-width == 16u {
    @media only screen and (max-width: $width-16u) {
      @content;
    }
  } @else
    if $screen-width == 12u {
      @media only screen and (max-width: $width-12u) {
        @content;
      }
    } @else
      if $screen-width == 8u {
        @media only screen and (max-width: $width-8u) {
          @content;
        }
      } @else
        if $screen-width == 4u {
          @media only screen and (max-width: $width-4u) {
            @content;
          }
        }
}

//////////////////////////////
// Modern Clearfix Mixin
//////////////////////////////
@mixin clearfix($extend: null) {
  $extend: if($extend != null, $extend, toolkit-get('clearfix extend'));

  @if $extend == true {
    @include dynamic-extend('clearfix') {
      @include clearfix(false);
    }
  }
  @else {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
