.site-header {
   min-height: 56px;
}

.site-title {
   float: left;
}

.site-footer,
.page-content {
   padding: $spacing-unit 0;
}

.page-heading {
   margin-top: 50px;
   margin-bottom: 80px;
   font: {
      size: $font-size-page-heading;
      weight: $font-weight--lightest;
   }
   @media screen and (max-width: 445px) {
      font-size: $font-size-post-subtitle;
   }
}

.post {
   h1,
   h2,
   h3,
   h4 {
      font-family: $font-stack--serif;
   }

   h4 {
      margin-top: 20px;
      font-size: $font-size-post-subtitle;
   }
   p {
      color: $black-core;
   }
}

.post-list {
   margin-left: 0;
   list-style: none;
   > li {
     margin-bottom: $spacing-unit;
   }
}

.post-meta {
   font: {
      size: $font-size-small;
      family: $font-stack--sans-serif;
      weight: $font-weight--light;
   }
   color: $grey-primary;
}

.post-link {
   display: block;
   font-size: 24px;
}

.post-header,
.post-content {
   margin-bottom: $spacing-unit;
}

.post-title {
   font-size: $font-size-page-heading;
   letter-spacing: -1px;
   line-height: 1;
}

.post-content {
   font : {
   family: $font-stack--sans-serif;
   weight: $font-weight--light;
   size: $font-size-base;
   }
}

.social-media-list-item {
   display: inline-block;
   margin-right: 20px;
   font-weight: $font-weight--lightest;
}
