.site-header {
   min-height: 56px;
}

.site-title {
   float: left;
}

.site-footer,
.page-content {
   padding: $spacing-unit 0;
}

.page-heading {
   font-size: 20px;
}

.post-list {
   margin-left: 0;
   list-style: none;
   > li {
     margin-bottom: $spacing-unit;
   }
}

.post-meta {
   font-size: $small-font-size;
   color: $grey-color;
}

.post-link {
   display: block;
   font-size: 24px;
}

.post-header,
.post-content {
   margin-bottom: $spacing-unit;
}

.post-title {
   font-size: 42px;
   letter-spacing: -1px;
   line-height: 1;
}
