h1,time { font-family: $variant-family; }

time { font-size: .6em; }

.post-title {
	display:inline-block;
	font-family: $variant-family;
}

.col-md-8 { margin: 0 auto; }

.container { margin-right: 0;}

small { text-transform: none; }

.share a { border:none; }

p a {
	border: none;
	text-decoration: underline;
	&:hover {border: none;}
}

footer { background: transparent; }

.whats-up::before,
.designer::before, 
.front-end-developer::before, 
.living::before, 
.charlotte::before, 
.find::before, 
.jokes::before, 
.working::before {
	font-size: 200px; 
	color: red;
	font-family: $font-family;
	font-weight: bold;

	@media (max-width: 995px) {
    display: none;
  }
}

.whats-up::before { content:"N2MH JUST CHILLIN"; }
.designer::before { content:"IT'S TRUE"; }
.front-end-developer::before { content:"A LOT OF MARK-UP AND SOME JS TOO"; font-size: 150px; }
.living::before { content:"RESIDING?"; }
.charlotte::before { content:"CLT"; font-size: 400px;}
.find::before { content:"LET'S HANG"; font-size: 200px; }
.jokes::before { content:"NOT THAT FUNNY"; }
.working::before { content:"VERY HARD"; }
